<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginGoogleHandler</servlet-name>
        <servlet-class>Controller.LoginGoogleHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>joinServlet</servlet-name>
        <servlet-class>Controller.joinServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homeServlet</servlet-name>
        <servlet-class>Controller.Home.homeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profileServlet</servlet-name>
        <servlet-class>Controller.User.profileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>Controller.searchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>courseServlet</servlet-name>
        <servlet-class>Controller.User.courseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseDetailServelet</servlet-name>
        <servlet-class>Controller.CourseDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lessonServlet</servlet-name>
        <servlet-class>Controller.lessonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuizServlet</servlet-name>
        <servlet-class>Controller.User.Manager.CreateQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuestionsServlet</servlet-name>
        <servlet-class>Controller.User.Manager.CreateQuestionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerQuestionServlet</servlet-name>
        <servlet-class>Controller.User.Manager.ControllerQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseManageServlet</servlet-name>
        <servlet-class>Controller.User.Manager.CourseManageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCourse</servlet-name>
        <servlet-class>Controller.User.Manager.UpdateCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoQuizServlet</servlet-name>
        <servlet-class>Controller.DoQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoQuizController</servlet-name>
        <servlet-class>Controller.DoQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModuleManageServler</servlet-name>
        <servlet-class>Controller.User.Manager.ModuleManageServler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQuizServlet</servlet-name>
        <servlet-class>Controller.User.Manager.EditQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQuizCRUDQuestions</servlet-name>
        <servlet-class>Controller.User.Manager.EditQuizCRUDQuestions</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginGoogleHandler</servlet-name>
        <url-pattern>/google</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>joinServlet</servlet-name>
        <url-pattern>/join</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>courseServlet</servlet-name>
        <url-pattern>/my-courses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseDetailServelet</servlet-name>
        <url-pattern>/CourseDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lessonServlet</servlet-name>
        <url-pattern>/lesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseManageServlet</servlet-name>
        <url-pattern>/course-manage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCourse</servlet-name>
        <url-pattern>/UpdateCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuizServlet</servlet-name>
        <url-pattern>/createquiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuestionsServlet</servlet-name>
        <url-pattern>/question</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerQuestionServlet</servlet-name>
        <url-pattern>/controllerquestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoQuizServlet</servlet-name>
        <url-pattern>/doquiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoQuizController</servlet-name>
        <url-pattern>/doquizsub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModuleManageServler</servlet-name>
        <url-pattern>/ModuleManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQuizServlet</servlet-name>
        <url-pattern>/editquiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQuizCRUDQuestions</servlet-name>
        <url-pattern>/editquizcrudquestion</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>
            home
        </welcome-file>
    </welcome-file-list>
</web-app>
